input[type="radio"] {
  display: none;
}

#left-label {
  color: #30343a;
  z-index: 10;
  cursor: pointer;
}

#center-label {
  color: #30343a;
  z-index: 10;
  cursor: pointer;
}

#right-label {
  color: #30343a;
  z-index: 10;
  cursor: pointer;
}

.title {
  margin: 0;
  font-weight: 600;
  font-family: "Pretendard";
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 27px;
}

#left-label .title {
  font-size: 18px;
}

#center-label .title {
  font-size: 18px;
}

#right-label .title {
  font-size: 18px;
}

.white-font {
  font-family: "Pretendard";
  font-weight: 500;
  color: #ffffff !important;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 27px;
  white-space: nowrap;
  width: 117px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 308px;
  height: 55px;
  border-radius: 100px;
  background-color: #e1e4ea;
  padding: 4px;
}

.switch-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30343a;
  border-radius: 100px;
  position: absolute;
  transition: left 0.1s ease-in-out;
}

/*---------------- LEFT ------------------- */
.switch-label.left-to-center {
  animation-name: leftToCenter;
  animation-duration: 0.5s;
}

.switch-label.left-to-right {
  animation-name: leftToRight;
  animation-duration: 0.5s;
}

.switch-label.left-position {
  left: 3px;
  height: 47px;
  width: 117px;
}

.left-title {
  position: absolute;
  left: 4px;
}
.left-title.white-font.show-spinner {
  position: absolute;
  left: 14px;
}

#left + label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 89px;
}

#left:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 117px;
  border-radius: 100px;
}

@keyframes leftToCenter {
  from {
    left: 4px;
  }
  to {
    left: 93px;
  }
}

@keyframes leftToRight {
  from {
    left: 4px;
  }
  to {
    left: 187px;
  }
}

/* -------------------- center ------------------ */
.switch-label.center-to-left {
  animation-name: centerToLeft;
  animation-duration: 0.5s;
}

.switch-label.center-to-right {
  animation-name: centerToRight;
  animation-duration: 0.5s;
}

.switch-label.center-position {
  left: 93px;
  height: 47px;
  width: 117px;
}

.center-label {
  position: absolute;
  left: 103px;
}

.center-label.left {
  position: absolute;
  left: 135px;
}

.center-label.white-font.show-spinner {
  position: absolute;
  left: 93px;
}

#center + label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

#center:checked + label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 100px;
}

@keyframes centerToLeft {
  from {
    left: 117px;
  }
  to {
    left: 5px;
  }
}

@keyframes centerToRight {
  from {
    left: 117px;
  }
  to {
    left: 187px;
  }
}

/* ------------------- RIGHT ------------------- */
.switch-label.right-to-left {
  animation-name: rightToLeft;
  animation-duration: 0.5s;
}

.switch-label.right-to-center {
  animation-name: rightToCenter;
  animation-duration: 0.5s;
}

.switch-label.right-position {
  left: 187px;
  height: 47px;
  width: 117px;
}

.right-title {
  position: absolute;
  left: 205px;
}

.right-title.white-font.show-spinner {
  position: absolute;
  left: 197px;
  width: 157px;
}

#right + label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

#right:checked + .right-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 100px;
  width: 100px;
}

@keyframes rightToLeft {
  from {
    left: 187px;
  }
  to {
    left: 4px;
  }
}

@keyframes rightToCenter {
  from {
    left: 187px;
  }
  to {
    right: 117px;
  }
}

/* ------------------- SPINNER ------------------- */

.spinner {
  width: 20px;
  height: 20px;
}
.svg {
  display: block;
}
.border {
  fill: none;
  stroke: #6b7684;
  stroke-width: 3;
}
.progress {
  fill: none;
  stroke: #0b98ff;
  stroke-width: 3;
  stroke-dasharray: 62.8;
  stroke-dashoffset: 62.8;
  animation: progress 6.5s ease-in-out infinite;

  transform-origin: center;
  transform: rotate(-90deg);
}
@keyframes progress {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
